html {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.795)) !important;
}

#current-day,
#day-1,
#day-2,
#day-3,
#day-4,
#day-5 {
  align-items: center;
  width: 400px;
  height: 145px;
  color: whitesmoke;
  font-weight: bold;
}
.box {
  background-image: URL(https://c4.wallpaperflare.com/wallpaper/268/578/436/severe-thunderstorm-at-night-wallpaper-preview.jpg);
  align-items: center;
  width: 160px;
  height: 170px;
}
#cityList {
  width: 50px;
}

#search-bar {
  width: 350px;
}

.navbar {
  background-color: rgb(83, 2, 2) !important;
}

#weather {
  border: 2px solid whitesmoke;
  font-size: 30px;
  max-width: 100%;
}
#date {
  background-color: rgba(0, 0, 255, 0.5);
}
.custom-width {
  width: 325px;
}

#expand {
  max-width: 100%;
}

.city {
  color: whitesmoke;
  background-color: black;
}

.fa-brands {
  color: whitesmoke;
}
#title {
  color: whitesmoke;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

.city-item {
  border: 2px solid whitesmoke;
  padding: 0.5em;
  display: inline-block;
}
#finish {
  border: 2px solid whitesmoke;
  background-color: black;
}

@media screen and (max-width: 767px) {
  .field.is-grouped input.input {
    width: 100%;
  }

  .buttons .button {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .box {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #current-day {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #search-bar {
    width: 100%;
    padding: 10px;
  }
}
