

html{
  background-image:url(https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2xpZ2h0bmluZy01LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6IjEyMDAifX19) ;
}




.navbar {
  background-color:rgb(0, 0, 0) !important;
}

#weather {
  border: 2px solid whitesmoke;
  font-size: 30px;
  max-width: 100%;
}
#date {
  background-color: rgba(0, 0, 255, 0.5);
}
.custom-width {
  width: 325px;
  
}

#expand {
  max-width: 100%;
}

.city{
  color: whitesmoke;
  background-color: black;
}

.fa-brands  {
  color: whitesmoke;
  
}
#title {
  color:whitesmoke;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

/* .column.is-bordered {
  border: 2px solid whitesmoke;
  
} */

.city-item {
  border: 2px solid whitesmoke;
  padding: 0.5em;
  display: inline-block;
}
#finish {
  border: 2px solid whitesmoke;
  background-color: black;
}

@media screen and (max-width: 767px) {
  .field.is-grouped input.input {
    width: 100%;
  }

  .buttons .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {

